#pattern  filter=crypt diff=crypt
lib/main_prod.dart filter=crypt diff=crypt
keystore/keystore.jks filter=crypt diff=crypt
keystore/upload_certificate.pem filter=crypt diff=crypt
android/key.properties filter=crypt diff=crypt
